* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3e5065;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

#window {
    margin-top: 100px;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border: solid 10px rgba(86, 178, 178, 0.7);
    background-color: #528dbe;
    border-radius: 20px;
    animation-name: window;
    animation-duration: 0.7s;
}

#text {
    height: 25px;
}

#submit {
    width: 35px;
    height: 35px;
    border: solid 3px #00f688;
    border-radius: 50px 50px;
}

#dialogue {
    width: auto;
    height: 80px;

}

#les-nombres {
    width: 80%;
    height: 30%;
    background-color: #689fd0;
    border: inset 4px #a3a3f8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

h1 {
    color: #9cd3b9;

}

h2 {
    color: #6ed2af;
}

button {
    width: 80px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration-line: none;
    color: steelblue;
    font-size: 1.5rem;
}


@keyframes window {

    0% {
        opacity: 0;
    }
    20% {
        opacity: 20%;
    }
    40% {
        opacity: 40%;
    }
    60% {
        opacity: 60%;
    }
    80% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }

}

@keyframes error {

    0% {
        transform: rotate(-3deg);
    }
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(3deg);
    }
    80% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }

}